.working_steps .single_step .step_text {
	padding-left: 0;
	padding-right: 75px;
}
.working_steps .single_step .step_text .number {
	left: auto;
	right: 0;
}
.working_steps .single_step:not(:last-child)::after {
	left: auto;
	right: 25px;
}
.faq_content .accordion-item {
	padding: 40px 40px 30px 80px;
}

.faq_content .accordion-item .accordion-header::after {
	right: auto;
	left: -40px;
}
.contact_investment_tabs .nav-item {
	padding-left: 0px;
	padding-right: 15px;
}

.contact_investment_tabs .nav-item:before {
	left: 100%;
	right: auto;
}

.contact_investment_tabs .nav-item::after {
	left: 0;
	right: -25px;
}

.contact_investment_tabs .nav-item.active::after {
	background-color: var(--color-secondary);
}
.form_group input[type="text"],
.form_group input[type="email"],
.form_group input[type="tel"],
.form_group input[type="url"],
.form_group textarea {
	text-align: right;
}

.form_group label {
	text-align: right;
}
